# Binaries for programs and plugins
.DS_Store
*.exe
*.dll
*.so
*.dylib
*-e
*.swp
*.swo

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# builed file
main
linux-build
darwin-build

# Dev envirement
.env.testing
.settings
.vscode
temp

logs/
